.row::after {
  content: "";
  clear: both;
  display: block;
  transform: translateX(40px);
}
[class*="col-"] {
  float: left;
  padding: 15px;
}
p{
  display: inline-block;
  font-family: Helvetica,Arial,sans-serif;
  text-align: left;
  color: rgb(255, 255, 255);
}
h2{
  display: inline-block;
  font-family: Helvetica,Arial,sans-serif;  
}
.titulo{
  text-align: center;
}
.titulopro{
  display: inline-block;
  font-family: Helvetica,Arial,sans-serif;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 50x;
  margin-left: 40px;
}
.disponible{
  color:#63165f;
  font-weight: lighter;
}
.numero{
  color:#63165f;
  font-weight: lighter;
  margin-left: 4px;
}
.imagensesion{
float: right;
margin-top: 5px;
transform: translateX(-120px);
}
.descripcion{
  display: inline-block;
  font-family: Helvetica,Arial,sans-serif;
  text-align: end;
  color: rgb(255, 255, 255);
  transform: translateY(-6px);
}
.iniciarsesion{
  display: inline-block;
  font-family: Helvetica,Arial,sans-serif;
  text-align: end;
  color: rgb(255, 255, 255);
  transform: translateY(-6px);
}
.producto{
  display: inline-block;
  font-family: Helvetica,Arial,sans-serif;
  text-align: center;
  color: #63165f;
  font-size: 30px;
  margin-left: 40px;
}
.header {
  background-color: #63165f;
  color: #ffffff;
  height: 30px;
  font-size: 10px;
 text-align: end;
}
.menu ul {
  border-radius: 2%;
  text-align: center;
  list-style-type: none;
  padding: 0;
}
.menu li {
  font-size: 10px;
  margin-right: 20%;
  margin-bottom: 7px;
  background-color: #63165f;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li:hover {
  background-color: #0099cc;
}
.aside {
  margin-right: 20%;
  margin-left: 20%;
  border-radius: 2%;
  background-color: #63165f;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.titulo{
  text-align: center;
}
.footer {
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}
.producto{
  margin-left: 5%;
  margin-top: 2%;
  float: left;
}
.valor{
  font-weight: lighter;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 30%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}